body {
    font-family: sans-serif;
    background-color: #800020; 
    margin: 50px;
}


.container {
    max-width: 500px;
    margin: 0 auto;       
    background: white;
    padding: 25px;
    border-radius: 10px;  
}


h1 {
    text-align: center;
    color: #800020;       
}


img {
    width: 100%;
    border-radius: 5px;   
    margin-bottom: 15px;  
}


p {
    font-size: 18px;
    line-height: 1.6;     
    margin: 15px 0;
}


.navbar {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}


.navbar a {
    background-color: #1a365d; 
    color: white;              
    text-decoration: none;     
    font-weight: bold;
    font-size: 16px;
    

    padding: 10px 20px;        
    
   
    margin: 0 5px;             
    
    border-radius: 5px;        
    display: inline-block;    
    
  
    transition: background-color 0.2s ease; 
}


.navbar a:hover {
    background-color: #3182ce; 
}
